@import 'mediawiki.skin.variables.less';

// Styles here are render-blocking.
// Only add styles that are essential for the initial rendering of the page.

// Viewing a wish or focus area.
.ext-communityrequests-wish,
.ext-communityrequests-focus-area {
	&--edit {
		.cdx-mixin-css-icon( @cdx-icon-edit, @param-is-button-icon: true );
	}

	&--speech-bubbles {
		.cdx-mixin-css-icon( @cdx-icon-speech-bubbles, @param-is-button-icon: true );
	}

	&--heading.mw-heading {
		display: flex;
		justify-content: space-between;
	}

	.ext-communityrequests-wish--status,
	.ext-communityrequests-focus-area--status {
		font-family: @font-family-base;
		font-size: @font-size-small;
	}
}

// Focus area cards.
.ext-communityrequests-focus-area-card__title {
	font-size: @font-size-large;
	margin-top: @spacing-50;
	min-height: @size-300;
}

// Vote entries.
.ext-communityrequests-vote-entry--support {
	.cdx-mixin-css-icon( @cdx-icon-check, @color-success );
	margin-right: @spacing-25;
}

// Wish index table.
.ext-communityrequests-wishes {
	margin-top: @spacing-75;
}

// Focus area index.
.ext-communityrequests-focus-area-index {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: @spacing-100;
	gap: @spacing-100;
	/* Single column on mobile. */
	@media screen and ( max-width: @max-width-breakpoint-mobile ) {
		& {
			grid-template-columns: none;
		}
	}
}
